<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadi.sreda">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to start Alarm on device reboot -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:excludeFromRecents="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".MainActivityLocation"
            android:screenOrientation="portrait"
            />

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ExceptionActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ProfileSettingsActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".MyRecordsActivity"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".alarm.AlarmReceiver"/>
        <!--<receiver android:name=".alarm.QuickAttandenceRecever"/>-->
        <!--<service android:name=".utils.MyService" android:process=":my_service" />-->
        <!--<service android:name=".utils.GoogleService" />-->
        <activity android:name=".service.MainActivityBack"
            android:screenOrientation="portrait"
            />
        <service android:name=".service.LocationMonitoringServiceBack" />
        <activity
            android:name=".utils.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>
    </application>

</manifest>